.hero-div {
  text-transform: uppercase;
}
.hero-div-str {
  color: red;
}
.hero-div-int {
  color: blue;
}
.hero-div-agi {
  color: green;
}
.card-info {
  text-align: left;
  margin-left: 10px;
}
.hero-cards {
  text-align: center;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}
.hero-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero-attack-type {
  margin-bottom: 5px;
  font-size: 14px;
}
.more-btn {
  cursor: pointer;
  background-color: white;
  border: none;
  display: flex;
  justify-content: flex-start;
}
.more-information {
  font-size: 10px;
}
.more-information-img {
  max-width: 100px;
  max-height: 100px;
}
.hero-roles {
  font-size: 10px;
}
.search {
  text-align: center;
}